<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Tech Blog</title>
</head>

<body>
    <!-- Header -->
    <header>
        <h1 class="font-weight-bold"><i class="fas fa-code-branch"></i> Tech Blog</h1>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="navbar-collapse">
              <div class="navbar-nav m-auto">
                <a class="nav-item nav-link" href="/">Home</a>

                {{#if session.logged_in}}
                    <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                    <a class="nav-item nav-link" id="logout" href="/">Logout</a>
                {{else}}
                    <a class="nav-item nav-link" href="/login">Login</a>
                {{/if}}
              </div>
            </div>
          </nav>    
    </header>
    
    {{{ body }}}

    <footer>
        <div class="row-is-full content has-text-centered text-decoration-none">
            <p class="text-decoration-none">
                <strong><i class="fas fa-code-branch"></i> Tech Blog</strong> by  <a class="text-decoration-none" href="https://github.com/tobin14-jpg">Shaun Tobin/a> |
                <a class="text-decoration-none" href="https://github.com/tobin14-jpg/Tech-Blog">Source Code <i class="fab fa-github"></i></a> 
            </p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    
    {{#if session.logged_in}}
    <script src="/public/javascript/logout.js"></script>
    {{/if}}

</body>
</html>